// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container {
  padding: 10px;
  margin: 10px auto;
  width: 600px;
}

.header_link {
  display: flex;
  justify-content: space-between;
}
